################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/22603b83-0d37-4e77-8257-623b31baae54.vsidx
