################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/22603b83-0d37-4e77-8257-623b31baae54.vsidx
/Backend/.vs/Backend/FileContentIndex/4b402af5-5f96-4189-81a0-f812f63cf024.vsidx
/Backend/.vs/Backend/FileContentIndex/898f5b46-643e-48ad-84e5-d43496f716bd.vsidx
/Backend/.vs/Backend/FileContentIndex/af802f6e-784e-4598-ade4-885bd8ed7da9.vsidx
/Backend/.vs/Backend/FileContentIndex/c143f8f4-59e9-42c9-a05d-f2ca98c3d170.vsidx
