################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/Backend/FileContentIndex/36c529a7-8e61-4e4d-8eda-2bca2d952896.vsidx
/Backend/.vs/Backend/FileContentIndex/7acd19a0-bd80-4343-bc05-5e10a942ff59.vsidx
/Backend/.vs/Backend/FileContentIndex